.home {
  gap: 3rem;

  .button-link {
    color: var(--text);
    border-color: var(--text);
    font-size: 2rem;
  }

  .bar-picture {
    width: 100vw;
  }
}

.MuiButtonBase-root.back-button {
  position: fixed;
  top: 1rem;
  left: 1rem;
  border: 1px solid var(--text);
  width: min-content;

  .MuiSvgIcon-root.back-button-icon {
    fill: var(--text);
    width: 2rem;
    height: 2rem;
  }
}
