.home {
  .button-link {
    color: var(--text);
    border-color: var(--text);
    font-size: 2rem;
  }

  .bar-picture {
    width: 100vw;

    -webkit-mask-image: linear-gradient(to bottom, var(--black) 20%, transparent 100%);
    mask-image: linear-gradient(to bottom, var(--black) 20%, transparent 100%);

    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }
}

.MuiButtonBase-root.back-button {
  position: fixed;
  top: 1rem;
  left: 1rem;
  border: 1px solid var(--text);
  width: min-content;

  .MuiSvgIcon-root.back-button-icon {
    fill: var(--text);
    width: 2rem;
    height: 2rem;
  }
}
