.menu-item {
  gap: 0.75rem;

  .title {
    color: var(--text);
    font-size: 2rem;
    text-align: center;
    font-family: "Rubik Wet Paint", system-ui;
  }

  .description {
    color: var(--text);
    font-size: 1.3rem;
    text-align: center;
    font-family: "Playpen Sans Hebrew", cursive;
    font-weight: 600;
  }
}
