:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --black: #241f24;
  --text: #d1a769;
}

html {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--black);
}

body {
  margin: 0;
}

p {
  margin: 0;
}
